.Map-container{
    display: flex;
    justify-content: space-between;
}
.stationlist{
    margin:5px;
  padding: 0.6rem;
  border: 0.5px solid black;
/* display: flex; */
  box-sizing:content-box;
  background-color: #171717;
  color: white;
  border-radius: 10px;
  }
  .stationbody{
    display: flex;
  }
  .stationbody button{
    background-color: rgb(84, 212, 84);
    /* font-size: x-large; */
    border-radius: 0.5rem;
    padding: 0.3rem;  
    cursor:pointer;
  }
  .StationSlotDetailHeader{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .StaitonDetailBody{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    /* border: 2px solid black; */
    border-left:4px solid rgb(83, 130, 213);
    border-top: 3px solid rgb(83, 130, 213);
    border-bottom: 3px solid rgb(83, 130, 213);;    
    border-right: 4px solid rgb(83, 130, 213);
    border-radius: 10px;
    /* background-color:black; */
    /* color: white; */
    font-size:x-large;
}
  .StationBasicDetail{
    text-align: center;
  }
  .slotBody{
    display: flex;
    justify-content: space-between;
  }
  .solotheadings{
    display: flex;
    justify-content: space-between;
  }
  .slotheader{
    margin:5px;
    padding: 0.6rem;
    border: 0.5px solid black;
  /* display: flex; */
    box-sizing:content-box;
    background-color: #171717;
    color: white;
    border-radius: 10px;
  }
  .slotBody button{
    background-color: rgb(84, 212, 84);
    /* font-size: x-large; */
    border-radius: 0.5rem;
    padding: 0.3rem;  
    cursor:pointer;

  }
  .solotheadings{
    padding: 1rem;
    border-radius: 12px;
    border-left:  1px solid  rgb(83, 130, 213);
    border-right:  1px solid  rgb(83, 130, 213);
    border-top:  0.5rem solid  rgb(83, 130, 213);
    border-bottom:  0.5rem solid rgb(83, 130, 213);
    font-size: large;
    font-weight:bolder;
  }
  
  .StationDetailHeader div{
    margin-top: 2px;
  }
  .label{
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
  }
  .StationSlotDetailHeader h1{
    font-size:60px;
    font-weight: bold;
  }
  /* .StationSlotDetailHeader{
    background-color:rgb(56, 162, 44);
  } */
  .Map-controllers{
    text-align: center;
  }
  .currentplacebutton{
    width: 20%;
    padding: 10px;
    border-radius: 7px;
    font-size: large;
}
.Payment-border{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .LoginPage{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    /* width: 100px; */
    /* height: 100px; */
/* }
.loginform{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid black;
} */ 
.leavebody{
    width: 100%;
    height: 100%;
    background-color: #232B2B;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .leaveform{
    width: 600px;
    padding: 3rem 0rem;
    margin:auto;
    text-align:center;
    border:1px solid;
    border-radius: 13px;
    margin:14% auto;
    background-color: white;
    backdrop-filter:blur(120px);
    box-shadow: 0 8px 40px 0 rgba(0,0,0,0.37);
  }
  .leaveform input, .create textarea, .create select{
    width:70%;
    padding:6px 10px;
    margin:10px;
    border:1px solid #f1356d;
    box-sizing:border-box;
    display:block;
  }
  
  .leaveform input{
    margin: 5px 5px 5px 100px;
  }
  .leaveform button{
    background: #DC3D24;
    font-size: large;
    width: 15%;
    margin-bottom: 10px;
    margin-top: 10px;
    color:#fff;
    border:0;
    padding:8px;
    border-radius:8px;
    cursor:pointer;
  }
  .leaveform button:hover:not(.active) {
    background-color: #04AA6D;
    color: black;
  }
  .leaveform h2{
    color:black;
    padding: 1.3rem;
    font-size:xx-large;
    font-weight: bold;
  }
  .leaveform .reasonbox{
    height: 100px;
  }
  .leaveform label{
    font-size:x-large;
  }
  .singupform{
    margin: 13% auto;
  }
  .leaveform a{
    position: relative;
    margin-left: 80%;
    text-decoration: none;
    font-size: x-large;
}
.leaveform a:hover{
    text-decoration: underline;
}
